*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin font-face($name, $file, $style, $weight) {
    @font-face {
    font-family: "#{$name}";
    font-style: $style;
    font-weight: $weight;
    src: url("fonts/#{$file}.eot");
    src: url("fonts/#{$file}.eot?#iefix") format("embedded-opentype"),
    url("fonts/#{$file}.woff") format("woff"),
    url("fonts/#{$file}.ttf") format("truetype"),
    url("fonts/#{$file}.svg?#webfont") format("svg");
  }
 }

/* police header et footer*/

@include font-face(Montserrat, montserrat-v14-latin-regular, normal, 400);
@include font-face(Montserrat, montserrat-v14-latin-700, bold, 700);

/* police  titre la note enchantée*/

@include font-face(Devonshire, devonshire-v8-latin-regular, normal, 400);

/* police  titre le chic à la française */

@include font-face(Croissant One, croissant-one-v7-latin-regular, normal, 400);

/* police titre le délice des papilles */

@include font-face(Dancing Script, dancing-script-v14-latin-regular, normal, 400);

/* police titre la palette du goût */

@include font-face(Kaushan Script, kaushan-script-v8-latin-regular, normal, 400);

/* sous-titre menu 2 */

@include font-face(Source Serif Pro, source-serif-pro-v7-latin-700, bold, 700);

/* contenu menu 2 */

@include font-face(Lusitana, lusitana-v7-latin-regular, normal, 400);

/* police contenue menus 1, 3 et 4 */

@include font-face(Segoe Print, SegoePrint, normal, 400);

@include font-face(Segoe Print, SegoePrint-Bold, bold, 700);


/* header et footer */
$bg-primary: #569C86;
$color-primary: #FACA44;

/* menu page */
$color-menu: #000;
$color-shadow: #c9c4c4;

/* menu 1*/
$bg-note: #fcdfdb;
$magenta: #f15861;
$middle: #f16062;
$orange: #f6916a;

/* menu 2*/
$bg-french: #fff5fe;
$orange-french: #c67412;
$purple-french: #a56799;
$blue-french: #6e4ccc;

/* menu 3*/
$bg-delice: #edefef;
$blue-night: #0228dd;
$blue-medium: #0670f3;
$blue-light: #229df9;

/* menu 4*/
$bg-taste: #fdfffd;
$green: #45993e;
$green-medium: #8dd565;
$green-light: #acef75;


@mixin primary-theme{
    background-color: $bg-primary;
    color: $color-primary;
    font-family: "montserrat", sans-serif;
}

@mixin menu-shadow{
        box-shadow: 0 0 20px $color-shadow, 0 0 20px $color-shadow, 0 0 20px $color-shadow;
}

@mixin heading-title{
    color: $color-menu;
    font-weight: 700;
    font-family: "montserrat", sans-serif;
}

@mixin text-gradient($deg, $color-1, $color-2, $color-3){
    background: linear-gradient($deg, $color-1, $color-2, $color-3);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

/*%structure, header, footer, button, section, a, main, main h1{
    border: 2px solid red;
}*/

/* header */

.header{
    width: 100%;
    height: 140px;
    @include primary-theme;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__heading{
        font-size: 4.5rem;
        font-weight: bold;
        letter-spacing: -3px;
        &> a{
            text-decoration: none;
            color: $color-primary;
        }
    }
}

/* main-wrapper */
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* main-menu */

.main-page{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-menu{
        width: 41%;
        height: 700px;
        margin: 40px;
        @include menu-shadow;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none; 
        &> p{
            font-size: 3rem;
            font-family: "Segoe Print", cursive;
        }
        &.main-menu--note{
            background-color: $bg-note;
            color: $color-menu;
            &> p:first-child{
                @include text-gradient(to right, $magenta, $middle, $orange);
                font-size: 4.5rem;
                margin: 0;
                line-height: 6rem;
            }
            &> h2{
                font-family: "Devonshire", cursive;
                font-size: 3rem;
                margin: 0 auto;
            }
        }
        &.main-menu--french{
            background-color: $bg-french;
            &> p{
                font-family: "Source Serif Pro", serif;
                color:$orange-french;
            }
            &> h2{
                font-family: "Croissant One", serif;
                @include text-gradient(160deg, $orange-french, $purple-french, $blue-french);
                font-size: 2rem;
                margin: 0 auto;
            }
        }
        &.main-menu--delice{
            background-color: $bg-delice;
            &> p{
                color: $blue-light;
            }
            &> h2{
                font-family: "Dancing Script", cursive;
                @include text-gradient(160deg, $blue-night, $blue-medium, $blue-light);
                font-size: 3rem;
                margin: 0 auto;
                padding: 0 6px;
            }
        }
        &.main-menu--taste{
            background-color: $bg-taste;
            &> p{
                color: $green-light;
            }
            &> h2{
                font-family: "Kaushan Script", cursive;
                @include text-gradient(160deg, $green, $green-medium, $green-light);
                font-size: 3rem;
                margin: 0 auto;
                padding: 0 6px;
            }

        }
}


/* all menu */

.heading-menu{
    @include heading-title;
    text-align: center;
}

/* menus */

.page-menu{
    width: 80%;
    color: $color-menu;
    margin: 40px auto 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include menu-shadow;
    font-family: "Segoe Print", cursive;
    font-weight: normal;
    &__heading{
        width: 80%;
        margin: 0 0 40px;
        font-size: 1.1rem;
        &> h2{
            text-align: center;
            font-size: 1.5rem;
            margin-bottom: 20px;
        }
        &> div{
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            &> p:last-child{
                font-size: 1.5rem;
            }
            &> p{
                margin: 7.5px 0;
            }
        }       
    }
}

/* menus-note */
.page-menu.page-menu--note{
    background-color: $bg-note;
    padding: 40px 0;
    &> h3{
        @include text-gradient(to right, $magenta, $middle, $orange);
        font-size: 5rem;
        margin: 40px auto 0;
        line-height: 5rem;
    }
    &> h1{
        font-family: "Devonshire", cursive;
        font-size: 3.5rem;
        margin-bottom: 50px;
    }
}

.page-menu__heading.page-menu__heading--note{
    &> h2{
        font-size: 1.7rem;
    }
    &> div{
        font-size: 1.2rem;
        margin: 0 20px;
    }
    &:nth-child(3){
        &> h2::before{
            content: url("img/line-left-note_.svg");
            position: relative;
            top: 10px;
            left: -115px;
        }
        &> h2::after{
            content: url("img/line-right-note_.svg");
            position: relative;
            top: 10px;
            right: -100px;
        }
    }
    &:nth-child(4){
        &> h2::before{
            content: url("img/line-left-note_.svg");
            position: relative;
            top: 10px;
            left: -70px;
        }
        &> h2::after{
            content: url("img/line-right-note_.svg");
            position: relative;
            top: 10px;
            right: -55px;
        }
    }    
    &:nth-child(5){
        &> div{
            flex-direction: column;
            margin: 0 20px;
            &> p:last-child{
                font-size: 1.2rem;
            }
        }
        &> h2::before{
            content: url("img/line-left-note_.svg");
            position: relative;
            top: 10px;
            left: -40px;
        }
        &> h2::after{
            content: url("img/line-right-note_.svg");
            position: relative;
            top: 10px;
            right: -30px;
        }
    }       
}

.page-menu__subtitle{
    display: flex;
    align-items: center;
    margin: 10px auto 50px;
    &> p{
    @include text-gradient(to right, $magenta, $middle, $orange);
    font-size: 3rem;
    margin: 0 10px 0 0;
    line-height: 3rem;
    }        
    &> h2{
    font-family: "Devonshire", cursive;
    font-size: 3rem;
    margin: 0;
    }
}   

/* menus-french */
.page-menu.page-menu--french{
    background-color: $bg-french;
    padding: 50px 0;
        &> h1{
            font-family: "Croissant One", serif;
            @include text-gradient(160deg, $orange-french, $purple-french, $blue-french);
            font-size: 2.5rem;
            margin: 80px auto;
        }
}

.page-menu__heading.page-menu__heading--french{
    &> div{
        margin: 0 90px;
    }
    font-size: 1.3rem;
    font-family: "Lusitana", serif;
    &> h2{
    font-family: "Source Serif Pro", serif;
    font-size: 1.45rem;
    }
    &:nth-child(2){
        color: $orange-french;
        &> h2::before{
            content: url("img/line-left-french_.svg");
            position: relative;
            top: 5px;
            left: -20px;
        }
        &> h2::after{
            content: url("img/line-right-french_.svg");
            position: relative;
            top: 5px;
            right: -20px;
        }
    }
    &:nth-child(3){
        color: $purple-french;
        &> h2::before{
            content: url("img/line-left-french2_.svg");
            position: relative;
            top: 5px;
            left: -50px;
        }
        &> h2::after{
            content: url("img/line-right-french2_.svg");
            position: relative;
            top: 5px;
            right: -50px;
        }
    }    
    &:nth-child(4){
        color: $blue-french;
        &> div{
            flex-direction: column;
            font-weight: normal;
            &> p:last-child{
                font-size: 1.3rem;
            }
        }
        &> h2::before{
            content: url("img/line-left-french3_.svg");
            position: relative;
            top: 5px;
            left: -30px;
        }
        &> h2::after{
            content: url("img/line-right-french3_.svg");
            position: relative;
            top: 5px;
            right: -30px;
        }

    }       
}

/* menus-delice */
.page-menu.page-menu--delice{
    background-color: $bg-delice;
    padding: 40px 0;
    &> h1{
        font-family: "Dancing Script", cursive;
        @include text-gradient(160deg, $blue-night, $blue-medium, $blue-light);
        font-size: 5rem;
        margin: 80px auto;
        padding: 15px;
    }
}

.page-menu__heading.page-menu__heading--delice{
    font-size: 1.2rem;
    &> div{
        margin: 0 50px;
    }
    &> h2{
        font-weight: normal;
        font-size: 1.4rem;
    }
    &:nth-child(2){
        &> h2::before{
            content: url("img/line-left-delice_.svg");
            position: relative;
            left: -10px;
            top: 5px;
        }
        &> h2::after{
            content: url("img/line-right-delice_.svg");
            position: relative;
            right: -25px;
            top: 7.5px;
        }
    }
    &:nth-child(3){
        &> h2::before{
            content: url("img/line-left-delice2_.svg");
            position: relative;
            left: -20px;
            top: 10px;
        }
        &> h2::after{
            content: url("img/line-right-delice2_.svg");
            position: relative;
            right: -20px;
            top: 5px;
        }
    }    
    &:nth-child(4){
        &> h2::before{
            content: url("img/line-left-delice3_.svg");
            position: relative;
            left: -30px;
            top: 10px;
        }
        &> h2::after{
            content: url("img/line-right-delice3_.svg");
            position: relative;
            right: -30px;
            top: 7.5px;
        }
    }     
}

/* menus-taste */
.page-menu.page-menu--taste{
    background-color: $bg-taste;
    padding: 40px 0;
    &> h1{
        font-family: "Kaushan Script", cursive;
        @include text-gradient(160deg, $green, $green-medium, $green-light);
        font-size: 5rem;
        margin: 80px auto;
        padding: 15px;
    }
}

.page-menu__heading.page-menu__heading--taste{
    &> div{
        margin: 0 60px;
    }
    &> h2{
        font-weight: normal;
        font-size: 1.5rem;
    }
    &:nth-child(2){
        &> h2::before{
            content: url("img/line-left-taste_.svg");
            position: relative;
            left: -145px;
            top: 5px;
        }
        &> h2::after{
            content: url("img/line-right-taste_.svg");
            position: relative;
            right: -140px;
            top: 5px;
        }
    }
    &:nth-child(3){
        &> h2::before{
            content: url("img/line-left-taste_.svg");
            position: relative;
            left: -85px;
            top: 10px;
        }
        &> h2::after{
            content: url("img/line-right-taste_.svg");
            position: relative;
            right: -80px;
            top: 5px;
        }
    }    
    &:nth-child(4){
        &> h2::before{
            content: url("img/line-left-taste_.svg");
            position: relative;
            left: -75px;
            top: 10px;
        }
        &> h2::after{
            content: url("img/line-right-taste_.svg");
            position: relative;
            right: -70px;
            top: 5px;
        }
    }     
}
 
/* mentions-légales */
.page-menu.page-menu--legal{
    font-family: "montserrat", sans-serif;
    background-color: #e6e0e0;
    padding: 40px 0;
    &> h1{
        font-size: 3.5rem;
        margin: 80px auto;
    }       
}

/* preview */

.btn{
    @include primary-theme;
    width: 30%;
    border-radius: 20px;
    margin: 20px auto;
    &__heading{
        font-size: 1.8rem;
        font-weight: normal;
        margin: 10px 30px;
    }
}

/* footer */

.footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include primary-theme;
    margin-top: 40px;
    position: sticky;
    bottom: 0;
    &__heading{
        margin: auto 30px;
        font-size: 1.8rem;
        font-weight: normal;
        &> a{
            text-decoration: none;
            color: $color-primary;
        }
    }
}


