@mixin primary-theme{
    background-color: $bg-primary;
    color: $color-primary;
    font-family: "montserrat", sans-serif;
}

@mixin box-menu($bg){
    box-shadow: 0 0 20px $color-shadow, 0 0 20px $color-shadow, 0 0 20px $color-shadow;
    background: $bg;
}

@mixin heading-title{
    color: $color-menu;
    font-family: "montserrat", sans-serif;
    font-weight: 700;
}

@mixin brand-note{
    font-family: "Devonshire", cursive;
    color: $black-note;
}

@mixin brand-note-logo{
    background: linear-gradient(to right, $magenta, $middle, $orange);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin brand-french{
    font-family: "Croissant One", serif;
    background: linear-gradient(160deg, $orange-french, $purple-french, $blue-french);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin brand-delice{
    font-family: "Dancing Script", cursive;
    background: linear-gradient(160deg, $blue-night, $blue-medium, $blue-light);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin brand-taste{
    font-family: "Kaushan Script", cursive;
    background: linear-gradient(160deg, $green, $green-medium, $green-light);
    -webkit-background-clip: text;
    color: transparent;
}

@mixin mobile-only ($key){
    @media screen and (max-width: map-get($breakpoints, $key)){
        @content;
    }
}

@mixin underline-anim{
    background: linear-gradient(to top,$color-menu 5%, transparent 5%) no-repeat;
    background-size: 0% 100%;
    transition: background-size .3s;
}

@keyframes shaker {
    0%{ transform: translate(2px, 2px);}
    100%{ transform: translate(-2px, -2px);}
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
