/* header et footer */
$bg-primary: #569C86;
$color-primary: #FACA44;

/* menu page */
$color-menu: #000;
$color-shadow: #c9c4c4;

/* menu 1*/
$bg-note: #fcdfdb;
$magenta: #f15861;
$middle: #f16062;
$orange: #f6916a;
$black-note: #3d1319;

/* menu 2*/
$bg-french: #fff5fe;
$orange-french: #c67412;
$purple-french: #a56799;
$blue-french: #6e4ccc;

/* menu 3*/
$bg-delice: #edefef;
$blue-night: #0228dd;
$blue-medium: #0670f3;
$blue-light: #229df9;

/* menu 4*/
$bg-taste: #fdfffd;
$green: #45993e;
$green-medium: #8dd565;
$green-light: #acef75;

$bg-legal: #e6e0e0;
