/* header et footer */
$bg-primary: #569C86;
$color-primary: #FACA44;

/* menu page */
$color-menu: #000;
$color-shadow: #c9c4c4;

/* menu 1*/
$bg-note: #fcdfdb;
$magenta: #f15861;
$middle: #f16062;
$orange: #f6916a;
$black-note: #3d1319;

/* menu 2*/
$bg-french: #fff5fe;
$orange-french: #c67412;
$purple-french: #a56799;
$blue-french: #6e4ccc;

/* menu 3*/
$bg-delice: #edefef;
$blue-night: #0228dd;
$blue-medium: #0670f3;
$blue-light: #229df9;

/* menu 4*/
$bg-taste: #fdfffd;
$green: #45993e;
$green-medium: #8dd565;
$green-light: #acef75;

/* legal*/
$bg-legal: #e6e0e0;

/* media queries*/

$breakpoints:(
    x-large: 1265px,
    large: 1024px,
    medium: 890px,
    small: 770px,
    x-small: 550px
);

$font-size-page:(
    mainlast:1.5rem
);

$font-size-main:(
    main:3rem,
    note:3rem,
    french:2rem,
    delice:3rem,
    taste:3rem,
    btn:2.5rem,
    footer:2rem,
    logo:5rem
);

$font-size-note:(
    main:1.2rem,
    logo-note:6rem,
    note:3.5rem,
    subtitle:1.7rem,
    logo-note2:3.5rem,
    note2:3rem
);

$font-size-french:(
    main:1.3rem,
    french:2.5rem,
    subtitle:1.5rem
);

$font-size-delice:(
    main:1.2rem,
    delice:4.5rem,
    subtitle:1.4rem
);

$font-size-taste:(
    main:1.2rem,
    taste:4.5rem,
    subtitle:1.4rem
);

$font-size-legal:(
    main:1.3rem,
    subtitle:2rem
);