.page-menu.page-menu--legal{
    @include box-menu($bg-legal);
    font-family: "montserrat", sans-serif;
    padding: 40px 0;
    text-align: justify;
    & h2{
        margin: 20px;
        text-align: center;
        font-size: map-get($font-size-legal, subtitle);
        @include mobile-only(small){
            font-size: map-get($font-size-legal, subtitle)*0.8;
        }
        @include mobile-only(small){
            font-size: map-get($font-size-legal, subtitle)*0.6;
        }
    }
    & p{
        font-size: map-get($font-size-legal, main);
        @include mobile-only(small){
            font-size: map-get($font-size-legal, main)*0.8;
        }
        @include mobile-only(x-small){
            font-size: map-get($font-size-legal, main)*0.6;
        }
    }
}