.heading-menu{
    @include heading-title;
    text-align: center;
}

.main-page{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mobile-only(mobile){
        flex-direction: column;
        align-items: center;
    }
}

.main-menu{
    width: 35%;
    height: 600px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none; 
    @include mobile-only(medium){
        width: 70%;
    }
    @include mobile-only(small){
        width: 80%;
        height: 500px;
    }
    @include mobile-only(x-small){
        width: 95%;
        height: 400px;
    }
    &.main-menu--note{
        @include box-menu($bg-note);
        & h2{
            @include brand-note;
            font-size: map-get($font-size-main,note);
            margin: 0 auto;
            line-height: 3rem;
            transform: scale(1);
            transition: transform 400ms, opacity 400ms;
            @include mobile-only(large){
                font-size: map-get($font-size-main,note)*0.9;
                line-height: 3rem*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,note)*1.2;
                line-height: 3rem*1.2;
            }
            @include mobile-only(x-small){
                font-size: map-get($font-size-main,note);
                line-height: 3rem;
            }
            & span{
                @include brand-note-logo;
                font-size: map-get($font-size-main,logo-note);
                @include mobile-only(large){
                    font-size: map-get($font-size-main,logo-note)*0.9;
                }
                @include mobile-only(medium){
                    font-size: map-get($font-size-main,logo-note)*1.2;
                }
                @include mobile-only(x-small){
                    font-size: map-get($font-size-main,logo-note);
                }
                &:last-child{
                    font-size: map-get($font-size-main,main);
                    font-family: "Segoe Print", cursive;
                    color: $black-note;
                }
            }
            &:hover{
                transform: scale(1.2);
                opacity: .4;
            }
        }
    }        
    &.main-menu--french{
        @include box-menu($bg-french);
        & h2{
            @include brand-french;
            font-size: map-get($font-size-main,french);
            margin: 20px auto;
            transform: scale(1);
            transition: transform 400ms, opacity 400ms;
            @include mobile-only(large){
                font-size: map-get($font-size-main,french)*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,french)*1.2;
            }
            @include mobile-only(x-small){
                font-size: map-get($font-size-main,french);
            }
            & span{
                font-family: "Source Serif Pro", serif;
                color:$orange-french;
                font-size: map-get($font-size-main,main);
            }
            &:hover{
                transform: scale(1.2);
                opacity: .4;
            }
        }
    }
    &.main-menu--delice{
        @include box-menu($bg-delice);
        & h2{
            @include brand-delice;
            font-size: map-get($font-size-main,delice);
            margin: 0 auto;
            padding: 0 10px;
            transform: scale(1);
            transition: transform 400ms, opacity 400ms;
            @include mobile-only(large){
                font-size: map-get($font-size-main,delice)*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,delice)*1.2;
            }
            @include mobile-only(x-small){
                font-size: map-get($font-size-main,delice);
            }
            & span{
                font-size: map-get($font-size-main,main);
                font-family: "Segoe Print", cursive;
                color: $blue-light;
            }
            &:hover{
                transform: scale(1.2);
                opacity: .4;
            }
        }
    }
    &.main-menu--taste{
        @include box-menu($bg-taste);
        & h2{
            @include brand-taste;
            font-size: map-get($font-size-main,taste);
            margin: 0 auto;
            padding: 0 10px;
            transform: scale(1);
            transition: transform 400ms, opacity 400ms;
            @include mobile-only(large){
                font-size: map-get($font-size-main,taste)*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,taste)*1.2;
            }
            @include mobile-only(x-small){
                font-size: map-get($font-size-main,taste);
            }
            & span{
                font-size: map-get($font-size-main,main);
                font-family: "Segoe Print", cursive;
                color: $green-light;
            }
            &:hover{
                transform: scale(1.2);
                opacity: .4;
            }
        }
    }
}    

.fake-btn{
    @include primary-theme;
    width: 35%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px 0;
    cursor: pointer;
    @include mobile-only(medium){
        width: 45%;
    }
    @include mobile-only(small){
        width: 55%;
    }
    &__heading{
        font-size: map-get($font-size-main,btn);
        font-weight: normal;
        text-align: center;
        @include mobile-only(large){
            font-size: map-get($font-size-main,btn)*0.8;
        }
        @include mobile-only(x-small){
            font-size: map-get($font-size-main,btn)*0.5;
        }
        & span{
            &::after {
                overflow: hidden;
                display: inline-block;
                vertical-align: bottom;
                animation: ellipsis steps(4,end) 900ms infinite;
                content: "\2026";
                width: 0px;
            }
        }
        
    }
}
