.heading-menu{
    @include heading-title;
    text-align: center;
}

.main-page{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mobile-only(mobile){
        flex-direction: column;
        align-items: center;
    }
}

.main-menu{
    width: 41%;
    height: 700px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none; 
    font-size: map-get($font-size-main,main);
    font-family: "Segoe Print", cursive;
    @include mobile-only(large){
        font-size: map-get($font-size-main,main)*0.9;
        height: 600px;
    }
    @include mobile-only(medium){
        font-size: map-get($font-size-main,main)*1.2;
        width: 70%;
        height: 700px;
    }
    @include mobile-only(small){
        font-size: map-get($font-size-main,main)*1.4;
        width: 70%;
        height: 500px;
    }
    @include mobile-only(x-small){
        font-size: map-get($font-size-main,main)*1.2;
        width: 95%;
    }
    &.main-menu--note{
        @include box-menu($bg-note);
        color: $black-note;
        & h2{
            @include brand-note;
            font-size: map-get($font-size-main,note);
            margin: 0 auto;
            line-height: 3rem;
            @include mobile-only(large){
                font-size: map-get($font-size-main,note)*0.9;
                line-height: 3rem*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,note)*1.2;
                line-height: 3rem*1.2;
            }
            @include mobile-only(small){
                font-size: map-get($font-size-main,note)*1.4;
                line-height: 3rem*1.4;
            }
            & span{
                @include brand-note-logo;
                font-size: map-get($font-size-main,logo-note);
                @include mobile-only(large){
                    font-size: map-get($font-size-main,logo-note)*0.9;
                }
                @include mobile-only(medium){
                    font-size: map-get($font-size-main,logo-note)*1.2;
                }
                @include mobile-only(small){
                    font-size: map-get($font-size-main,logo-note)*1.4;
                }
                @include mobile-only(x-small){
                    font-size: map-get($font-size-main,logo-note)*1.2;
                }
            }
        }
    }        
    &.main-menu--french{
        @include box-menu($bg-french);
        font-family: "Source Serif Pro", serif;
        color:$orange-french;
        & h2{
            @include brand-french;
            font-size: map-get($font-size-main,french);
            margin: 20px auto;
            @include mobile-only(large){
                font-size: map-get($font-size-main,french)*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,french)*1;
            }
            @include mobile-only(small){
                font-size: map-get($font-size-main,french)*1.4;
            }
        }
    }
    &.main-menu--delice{
        @include box-menu($bg-delice);
        color: $blue-light;
        & h2{
            @include brand-delice;
            font-size: map-get($font-size-main,delice);
            margin: 0 auto;
            padding: 0 10px;
            @include mobile-only(large){
                font-size: map-get($font-size-main,delice)*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,delice)*1;
            }
            @include mobile-only(small){
                font-size: map-get($font-size-main,delice)*1.4;
            }
        }
    }
    &.main-menu--taste{
        @include box-menu($bg-taste);
        color: $green-light;
        & h2{
            @include brand-taste;
            font-size: map-get($font-size-main,taste);
            margin: 0 auto;
            padding: 0 10px;
            @include mobile-only(large){
                font-size: map-get($font-size-main,taste)*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,taste)*1;
            }
            @include mobile-only(small){
                font-size: map-get($font-size-main,taste)*1.4;
            }
            @include mobile-only(x-small){
                font-size: map-get($font-size-main,taste)*1.2;
            }
        }
    }
}    

.fake-btn{
    @include primary-theme;
    width: 35%;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px 0;
    @include mobile-only(medium){
        width: 45%;
    }
    @include mobile-only(small){
        width: 55%;
    }
    @include mobile-only(x-small){
        width: 80%;
    }
    &__heading{
        font-size: map-get($font-size-main,btn);
        font-weight: normal;
        text-align: center;
        @include mobile-only(large){
            font-size: map-get($font-size-main,btn)*0.8;
        }
    }
}
