.heading-menu{
    @include heading-title;
    text-align: center;
}

.main-page{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mobile-only(medium){
        flex-direction: column;
        align-items: center;
    }
}

.main-menu{
    width: 40%;
    height: 700px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none; 
    @include mobile-only(medium){
        width: 70%;
        margin: 20px 0;
    }
    @include mobile-only(small){
        width: 80%;
        height: 500px;
    }
    @include mobile-only(x-small){
        width: 85%;
        height: 400px;
    }
    &.main-menu--note{
        @include box-menu($bg-note);
        & h2{
            @include brand-note;
            font-size: map-get($font-size-main,note);
            margin: 0 auto;
            padding: 25px;
            line-height: 2.5rem;
            transform: scale(1);
            transition: transform .4s, opacity .4s;
            @include mobile-only(large){
                font-size: map-get($font-size-main,note)*0.9;
                line-height: 2.5rem*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,note)*1.2;
                line-height: 2.5rem*1.2;
            }
            @include mobile-only(x-small){
                font-size: map-get($font-size-main,note);
                line-height: 2.5rem;
            }
            & img{
                transform: scale(1.2);
                @include mobile-only(large){
                    transform: scale(1.1);
                }
                @include mobile-only(medium){
                    transform: scale(1.4);
                }
                @include mobile-only(x-small){
                    transform: scale(1.2);
                }
            }
            & span{
                font-size: map-get($font-size-main,main);
                font-family: "Segoe Print", cursive;
                color: $black-note;
                line-height: 9rem;
                font-weight: normal;
                @include mobile-only(large){
                    font-size: map-get($font-size-main,main)*0.9;
                    line-height: 9rem*0.9;
                }
                @include mobile-only(medium){
                    font-size: map-get($font-size-main,main)*1.2;
                    line-height: 9rem*1.2;
                }
                @include mobile-only(x-small){
                    font-size: map-get($font-size-main,main);
                    line-height: 9rem;
                }
            }    
            &:hover{
                transform: scale(1.1);
                opacity: .5;
            }
        }
    }        
    &.main-menu--french{
        @include box-menu($bg-french);
        & h2{
            @include brand-french;
            font-size: map-get($font-size-main,french);
            margin: 20px auto;
            padding: 25px;
            line-height: 6rem;
            transform: scale(1);
            transition: transform .4s, opacity .4s;
            @include mobile-only(large){
                font-size: map-get($font-size-main,french)*0.9;
                line-height: 6rem*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,french)*1.2;
                line-height: 6rem*1.2;
            }
            @include mobile-only(x-small){
                font-size: map-get($font-size-main,french);
                line-height: 6rem;
            }
            & span{
                font-family: "Source Serif Pro", serif;
                color:$orange-french;
                font-size: map-get($font-size-main,main);
            }
            &:hover{
                transform: scale(1.1);
                opacity: .5;
            }
        }
    }
    &.main-menu--delice{
        @include box-menu($bg-delice);
        & h2{
            @include brand-delice;
            font-size: map-get($font-size-main,delice);
            margin: 0 auto;
            padding: 25px;
            line-height: 6rem;
            transform: scale(1);
            transition: transform .4s, opacity .4s;
            @include mobile-only(large){
                font-size: map-get($font-size-main,delice)*0.9;
                line-height: 6rem*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,delice)*1.2;
                line-height: 6rem*1.2;
            }
            @include mobile-only(x-small){
                font-size: map-get($font-size-main,delice);
                line-height: 6rem;
            }
            & span{
                font-size: map-get($font-size-main,main);
                font-family: "Segoe Print", cursive;
                color: $blue-light;
                font-weight: normal;
            }
            &:hover{
                transform: scale(1.1);
                opacity: .5;
            }
        }
    }
    &.main-menu--taste{
        @include box-menu($bg-taste);
        & h2{
            @include brand-taste;
            font-size: map-get($font-size-main,taste);
            margin: 0 auto;
            padding: 25px;
            line-height: 6rem;
            transform: scale(1);
            transition: transform .4s, opacity .4s;
            @include mobile-only(large){
                font-size: map-get($font-size-main,taste)*0.9;
                line-height: 6rem*0.9;
            }
            @include mobile-only(medium){
                font-size: map-get($font-size-main,taste)*1.2;
                line-height: 6rem*1.2;
            }
            @include mobile-only(x-small){
                font-size: map-get($font-size-main,taste);
                line-height: 6rem;
            }
            & span{
                font-size: map-get($font-size-main,main);
                font-family: "Segoe Print", cursive;
                color: $green-light;
                font-weight: normal;
            }
            &:hover{
                transform: scale(1.1);
                opacity: .5;
            }
        }
    }
}    


