.page-menu.page-menu--note{
    @include box-menu($bg-note);
    & h1{
        @include brand-note;
        font-size: map-get($font-size-note, note);
        margin: 50px auto;
        text-align: center;
        line-height: 3.5rem;
        & img{
            transform: scale(1.2);
        }
    }
}

.page-menu__heading.page-menu__heading--note{
    color: $black-note;
    width: 75%;
    & h2{
        font-size: map-get($font-size-note, subtitle);
        line-height: 2.5rem;
        @include underline-anim;
        &:hover{
            display: inline-block;
            background-size: 100% 100%;
        }
    }
    & div{
        font-size: map-get($font-size-note, main);
        align-items: center;
    }   
    &:nth-child(4){
        & div:last-child{
            flex-direction: column;
            align-items: start;
            @include mobile-only(x-large){
                align-items: center;
            }
            & p:last-child{
                font-size: map-get($font-size-note, main);
            }
        }
    }       
}

.page-menu__subtitle{
    margin: 10px auto 50px; 
    display: flex; 
    @include mobile-only(small){
        display: none;
    }   
    & h2{
        @include brand-note;
        font-size: map-get($font-size-note, note2);
        margin: 0;
        & img{
            transform: scale(1.1);
        }  
    }      
}   