.page-menu.page-menu--note{
    @include box-menu($bg-note);
    & img{
        width: 255px;
    }
    & h1{
        @include brand-note;
        font-size: map-get($font-size-note, note);
        margin: 50px auto;
        text-align: center;
        line-height: 3.5rem;
        & span{
            @include brand-note-logo;
            font-size: map-get($font-size-note, logo-note);
        }
    }
}

.page-menu__heading.page-menu__heading--note{
    color: $black-note;
    width: 75%;
    & h2{
        font-size: map-get($font-size-note, subtitle);
    }
    & div{
        font-size: map-get($font-size-note, main);
        align-items: center;
    }   
    &:nth-child(4){
        & div:last-child{
            flex-direction: column;
            align-items: start;
            @include mobile-only(x-large){
                align-items: center;
            }
            & p:last-child{
                font-size: map-get($font-size-note, main);
            }
        }
    }       
}

.page-menu__subtitle{
    display: flex;
    align-items: center;
    margin: 10px auto 50px;    
    & h2{
        @include brand-note;
        font-size: map-get($font-size-note, note2);
        margin: 0;
        @include mobile-only(small){
            display: none;
        }   
    }
    & p{
        @include brand-note-logo;
        font-size: map-get($font-size-note, logo-note2);
        margin: 0 10px;
        @include mobile-only(small){
            display: none;
        } 
    }       
}   