.footer{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include primary-theme;
    margin-top: 40px;
    position: sticky;
    bottom: 0;
    &__heading{
        margin: auto 30px;
        font-size: 1.5rem;
        font-weight: normal;
        text-decoration: none;
        color: $color-primary;
    }
}

