.header{
    width: 100%;
    height: 140px;
    @include primary-theme;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__heading{
        font-size: map-get($font-size-main,logo);
        font-weight: bold;
        letter-spacing: -3px;
        text-decoration: none;
        color: $color-primary;
        @include mobile-only(x-small){
            font-size: map-get($font-size-main,logo)*0.8;
        }
    }
}