.page-menu{
    width: 80%;
    color: $color-menu;
    margin: 40px auto 100px;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Segoe Print", cursive;
    font-weight: normal;
    @include mobile-only(small){
        width: 95%;
        margin: 20px auto;
    } 
    &__heading{
        width: 85%;
        margin: 0 0 40px;
        font-size: 1.1rem;
        & div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            line-height: 3.5rem;
            @include mobile-only(large){
                line-height: 3.5rem*0.6;
            } 
            @include mobile-only(x-large){
                flex-direction: column;
                text-align: center;
                justify-content: center;
                margin-bottom: 15px;
            } 
            & p{
                @include mobile-only(large){
                    border-bottom: 2px dashed $color-menu;
                    &:last-child{
                        font-size: map-get($font-size-page, mainlast);
                    } 
                }
            }  
        }       
    }
}