@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/montserrat-v14-latin-regular.eot");
    src: url("fonts/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v14-latin-regular.woff") format("woff"), url("fonts/montserrat-v14-latin-regular.ttf") format("truetype"), url("fonts/montserrat-v14-latin-regular.svg?#webfont") format("svg");
  }
  
  @font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/montserrat-v14-latin-700.eot");
    src: url("fonts/montserrat-v14-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/montserrat-v14-latin-700.woff") format("woff"), url("fonts/montserrat-v14-latin-700.ttf") format("truetype"), url("fonts/montserrat-v14-latin-700.svg?#webfont") format("svg");
  }
  
  @font-face {
    font-family: "Devonshire";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/devonshire-v8-latin-regular.eot");
    src: url("fonts/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/devonshire-v8-latin-regular.woff") format("woff"), url("fonts/devonshire-v8-latin-regular.ttf") format("truetype"), url("fonts/devonshire-v8-latin-regular.svg?#webfont") format("svg");
  }
  
  @font-face {
    font-family: "Croissant One";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/croissant-one-v7-latin-regular.eot");
    src: url("fonts/croissant-one-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/croissant-one-v7-latin-regular.woff") format("woff"), url("fonts/croissant-one-v7-latin-regular.ttf") format("truetype"), url("fonts/croissant-one-v7-latin-regular.svg?#webfont") format("svg");
  }
  
  @font-face {
    font-family: "Dancing Script";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/dancing-script-v14-latin-regular.eot");
    src: url("fonts/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/dancing-script-v14-latin-regular.woff") format("woff"), url("fonts/dancing-script-v14-latin-regular.ttf") format("truetype"), url("fonts/dancing-script-v14-latin-regular.svg?#webfont") format("svg");
  }
  
  @font-face {
    font-family: "Kaushan Script";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/kaushan-script-v8-latin-regular.eot");
    src: url("fonts/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/kaushan-script-v8-latin-regular.woff") format("woff"), url("fonts/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("fonts/kaushan-script-v8-latin-regular.svg?#webfont") format("svg");
  }
  
  @font-face {
    font-family: "Source Serif Pro";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/source-serif-pro-v7-latin-700.eot");
    src: url("fonts/source-serif-pro-v7-latin-700.eot?#iefix") format("embedded-opentype"), url("fonts/source-serif-pro-v7-latin-700.woff") format("woff"), url("fonts/source-serif-pro-v7-latin-700.ttf") format("truetype"), url("fonts/source-serif-pro-v7-latin-700.svg?#webfont") format("svg");
  }
  
  @font-face {
    font-family: "Lusitana";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/lusitana-v7-latin-regular.eot");
    src: url("fonts/lusitana-v7-latin-regular.eot?#iefix") format("embedded-opentype"), url("fonts/lusitana-v7-latin-regular.woff") format("woff"), url("fonts/lusitana-v7-latin-regular.ttf") format("truetype"), url("fonts/lusitana-v7-latin-regular.svg?#webfont") format("svg");
  }
  
  @font-face {
    font-family: "Segoe Print";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/SegoePrint.eot");
    src: url("fonts/SegoePrint.eot?#iefix") format("embedded-opentype"), url("fonts/SegoePrint.woff") format("woff"), url("fonts/SegoePrint.ttf") format("truetype"), url("fonts/SegoePrint.svg?#webfont") format("svg");
  }
  
  @font-face {
    font-family: "Segoe Print";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/SegoePrint-Bold.eot");
    src: url("fonts/SegoePrint-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/SegoePrint-Bold.woff") format("woff"), url("fonts/SegoePrint-Bold.ttf") format("truetype"), url("fonts/SegoePrint-Bold.svg?#webfont") format("svg");
  }